html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* Selects all <p> with class="intro" */
p.intro{
    color: black;
    background: linear-gradient(45deg,rgb(189, 113, 240),rgb(55, 180, 238));
}

/* selects a tag inside a div */
div a{
    text-decoration: none;
    color: blueviolet;
    text-transform: none;
}

/* selects all a,p */
p,a{
    text-transform: uppercase;
}

/* Selects all span elements where the parent is a div element */
div > span{
    background: coral;
}

/* Selects the first p element that is placed immediately after div elements */
div + p {
    border: 1px solid tomato !important;
    background: rebeccapurple;
}

/* selects all a after p tag appeared */
section ~ a{
    background: #00acee;
    color: black;
    padding: 2px;
}

/* selects a with target='_blank' */
a[target=_blank]{
    background: black;
    color: white;
}