body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
}

#div-without-padding{
    border: 1px solid red;
    height: 100px;
    width: 300px;
}

#div-with-padding{
    border: 1px solid green;
    height: 100px;
    width: 300px;
    padding: 50px;
}

/* applying border-box in box-sizing so it calculates padding and border in the width and height */
#div-with-padding-border-box{
    border: 1px solid green;
    height: 100px;
    width: 300px;
    padding: 50px;
    box-sizing: border-box;
}

/* content-box is default box sizing property, if we don't applly border-box , 'content-box' applied automatically */
#div-with-padding-content-box{
    border: 1px solid purple;
    height: 100px;
    width: 300px;
    padding: 50px;
    box-sizing: content-box;
}