/* 
    using different flex properties like flex-direction,display,
    justify-content,align-items,order
*/

#dir-row,#dir-row-reverse,#dir-column,#dir-column-reverse{
    display: flex;
}

#dir-row{
    flex-direction: row;
}

#dir-row-reverse{
    flex-direction: row-reverse;
}

#dir-column{
    flex-direction: column;
}

#dir-column-reverse{
    flex-direction: column-reverse;
}

.box-one{
    background: burlywood;
    display: flex;
    text-align: center;
}

#item-one{
    border: 1px solid tomato;
    flex: 1;
}

#item-two{
    border: 1px solid tomato;
    flex: 1;
}

#item-three{
    border: 1px solid tomato;
    flex: 1;
}

#s-item-one{
    border: 1px solid tomato;
    flex: 1;
}

#s-item-two{
    border: 1px solid teal;
    flex: 2;
}

#s-item-three{
    border: 1px solid tomato;
    flex: 1;
}

#t-item-one{
    border: 1px solid tomato;
    flex: 1;
}

#t-item-two{
    border: 1px solid royalblue;
    flex: 3;
}

#t-item-three{
    border: 1px solid royalblue;
    flex: 3;
}

#o-item-one,#o-item-two,#o-item-three{
    flex: 1;
    border: 1px solid green;
}

.o3{
    order: 3;

}

.o1{
    order: 1;
}

.o2{
    order: 2;
}

.j-box{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #34495e;
    justify-content: center;
    color: black;
}

#j-item-1,#j-item-2,#j-item-3{
    background: yellow;
    border: 1px solid black;
}

.f-center{
    justify-content: center;
}

.f-start{
    justify-content: flex-start;
}

.f-end{
    justify-content: flex-end;
}

.f-space-between{
    justify-content: space-between;
}

.f-space-around{
    justify-content: space-around;
}

.f-space-evenly{
    justify-content: space-evenly;
}

.a-box{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
    background-color: #1dd1a1;
    color: white;
    align-items: flex-start;
}

#a-item{
    height: 100px;
    width: 100px;
    background: tomato;
}

.a-center{
    align-items: center;
}

.a-end{
    align-items: flex-end;
}